.nav-container .nav-bar 
{
	width:100vw;
	height: 60px;
	background-color:transparent;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	justify-content:space-between;
	z-index:100;
	
}

.nav-container .nav-bar .nav-logo
{
	width: 140px;
	background-color:var(--nav-bar-bg-color);
	border-radius: 0 30px 30px 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.493);
	display:flex;
	align-items:center;
	padding:.5rem;
	filter: contrast(110%);
	position: relative;
}

.nav-container .nav-bar .nav-logo a
{
	display: block;
	position: relative;
	height: 100%;
	left:80%;
	transform: translateX(-50%);
}

.nav-container .nav-bar .nav-logo:after
{
	content: "";
	position: absolute;
	width: inherit;
	z-index: -1;
	border-radius: inherit;
	left: 0;
	top: 0;
	height: 100%;
	transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color: var(--nav-bar-bg-color);
}

.nav-container .nav-bar.scroll .nav-logo::after
{
	width: 100vw;
}


.nav-container .nav-bar.scroll  .nav-links 
{
	box-shadow: none;
}
.nav-container .nav-bar .nav-logo img 
{
	height: 100%;
	bottom: 10%;
	position: relative;
	transform: translateX(-50%);
}

.nav-container .nav-bar .nav-links
{
	width:400px;
	background-color:var(--nav-bar-bg-color);
	border-radius:30px 0 0 30px;
	padding:1rem;
	display:flex;
	box-shadow: 3px 0 4px rgba(0, 0, 0, 0.493);
	align-items:center;
	filter: contrast(110%);
	
}

.nav-container .nav-bar .nav-links a 
{
	color:var(--link-color);
	text-decoration:none;
	padding: 0 1rem;
	text-transform: capitalize;
}















